@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #111111;
  --foreground: #e6e6e6;
  --card: #00d4ff;
  --card-foreground: #fafafa;
  /* --card: linear-gradient(135deg, #4c51ff, #b154ff, #00d4ff); */
  --primary: #00d4ff;
  --primary-foreground: #171717;
  --secondary: #262626;
  --secondary-foreground: #fafafa;
  --muted: #262626;
  --muted-foreground: #a1a1a1;
  --accent: linear-gradient(135deg, #4c51ff, #b154ff, #00d4ff);
  --accent-foreground: #171717;
  --border: #4c51ff;
  --input: #1f1f1f;
  --ring: #b154ff;
  --radius: 0.5rem;
}

body {
  @apply bg-black text-white antialiased;
}

.glass-card {
  @apply bg-black/40 backdrop-blur-xl border border-[#00d4ff]/20 rounded-2xl;
}
