@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
}

.formal input {
  @apply md:w-[300px];
}

.admin .active {
  @apply bg-secondary bg-opacity-20 text-secondary;
}

.admin .active .add {
  @apply bg-secondary w-2 h-full;
}

.app_bg {
  @apply bg-[#c44694];
}
